<div *ngIf="olympic">

<button routerLink="" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}">Come Back Home</button>

<h3>{{olympic.country}}</h3>
<table>
  <tr>
    <td>Nombre total de participations</td>
    <td>Nombre total de medailles</td>
    <td>Nombre total d'athlètes</td>
  </tr>
  <tr>
    <td>{{totalParticipation}}</td>
    <td>{{totalMedals}}</td>
    <td>{{totalAthletes}}</td>
  </tr>
</table>


<div class="graph">
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="formatedOlympics"
  >
</ngx-charts-line-chart>
</div>
</div>

<div *ngIf ="!olympic">
  <app-not-found></app-not-found>
</div>