<div *ngIf="olympic">
  <app-details-olympic-component
    [participations]="participations"
    [countryName]="olympic.country"
  ></app-details-olympic-component>
  <div class="graph">
    <ngx-charts-line-chart
      (window:resize)="chartGraphFactory.onResize($event)"
      [view]="chartGraphFactory.view"
      [scheme]="chartGraphFactory.colorScheme"
      [showXAxisLabel]="chartGraphFactory.showXAxisLabel"
      [showYAxisLabel]="chartGraphFactory.showYAxisLabel"
      [xAxis]="chartGraphFactory.xAxis"
      [yAxis]="chartGraphFactory.yAxis"
      [xAxisLabel]="chartGraphFactory.xAxisLabel"
      [yAxisLabel]="chartGraphFactory.yAxisLabel"
      [timeline]="chartGraphFactory.timeline"
      [results]="formatedOlympics"
    >
    </ngx-charts-line-chart>
  </div>
</div>

<div *ngIf="!olympic">
  <app-not-found></app-not-found>
</div>
