
<hr/>
<ul>
    <li *ngFor = "let country of olympics$ | async"  (click)="select(country)" >
       {{country.country}}
    </li>
</ul>
<div *ngIf = "country">
    <p>id : {{country.id}} </p>
    <p>name : {{country.country}} </p> 
    <p *ngFor = "let participation of country.participations">  
         id: {{participation.id}} ,
         year: {{participation.year}},
         city: {{participation.city}},
         medalsCount: {{participation.medalsCount}},
         athleteCount: {{participation.athleteCount}}  
        </p>
</div> 

<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="formatedOlympics"
  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-pie-chart>
