<app-home-component
  [numberOfOlympic]="olympics.length"
></app-home-component>

<div class="graph">
  <ngx-charts-pie-chart
    (window:resize)="chartGraphFactory.onResize($event)"
    [view]="chartGraphFactory.view"
    [scheme]="chartGraphFactory.colorScheme"
    [results]="formatedOlympics"
    [gradient]="chartGraphFactory.gradient"
    [legend]="chartGraphFactory.showLegend"
    [legendPosition]="chartGraphFactory.legendPosition"
    [labels]="chartGraphFactory.showLabels"
    [doughnut]="chartGraphFactory.isDoughnut"
    (select)="onSelect($event)"
  >
  </ngx-charts-pie-chart>
</div>
